.navbar {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

/* .nav-link:not(:last-child) {
    margin-right: 10px;
} */


.nav-link {
    color: black;
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
}
.logo{
    padding: 0;
}

.nav-link.active {
    color: red; 
    font-weight: bold;
}
